<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chitter.ChitterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Chitter.Chitter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chitter.ChitterSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Chitter.Chitter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chitter.ChitterSettings>
            <setting name="UserSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
        </Chitter.ChitterSettings>
        <Chitter.Chitter>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
        </Chitter.Chitter>
    </userSettings>
    <applicationSettings>
        <Chitter.ChitterSettings>
            <setting name="AppKey" serializeAs="String">
                <value>8Kntx6wmiNs2IsZSkvoVodCpS</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>a2NaZ3JkNTo7BNbEN8RssRzEBudAw1C2TujZgFNVbO8NmYnqsC</value>
            </setting>
        </Chitter.ChitterSettings>
        <Chitter.Chitter>
            <setting name="AppKey" serializeAs="String">
                <value>8Kntx6wmiNs2IsZSkvoVodCpS</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>a2NaZ3JkNTo7BNbEN8RssRzEBudAw1C2TujZgFNVbO8NmYnqsC</value>
            </setting>
        </Chitter.Chitter>
    </applicationSettings>
</configuration>