<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Chitter.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value>8Kntx6wmiNs2IsZSkvoVodCpS</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>a2NaZ3JkNTo7BNbEN8RssRzEBudAw1C2TujZgFNVbO8NmYnqsC</value>
            </setting>
            <setting name="PipeName" serializeAs="String">
                <value>chirper</value>
            </setting>
        </Chitter.Properties.Settings>
    </applicationSettings>
</configuration>